@if (!User.IsInRole("ADMIN"))
{
    Response.Redirect("~/Pages/Forbidden.cshtml");
    return;
}

@{
    var admins = EPAM.VacancyPortal.PL.WebPL.Models.AdminRequestHandler.GetAll().Where(a => a.IsCandidate);
}

@if (!admins.Any())
{
    <div class="alert alert-info">
        All candidates are verified
    </div>
    return;
}

<table class="table">
    <thead>
        <tr>
            <th>Login</th>
            <th>Verify</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var admin in admins)
        {
            <tr>
                <td>@admin.Login</td>
                <td><button class="btn btn-primary" onclick="verifyAdmin('@admin.Id');">Verify</button> <br /></td>
            </tr>
        }
    </tbody>
</table>