@using EPAM.VacancyPortal.PL.WebPL.Models;
@using EPAM.VacancyPortal.Entities;

@{
    Page.Title = "Admin sign up";
    Layout = "~/Layouts/_MainLayout.cshtml";
}


<div class="content-container">
    <div class="center w-50 form-group" id="form">
        <div class="form-group col">
            <label>Login</label>
            <input type="text" class="form-control form-control-sm" name="Login" id="login" placeholder="Login">
        </div>
        <div class="form-group col">
            <label>Password</label>
            <input type="password" class="form-control form-control-sm" name="Password" id="password" placeholder="Password">
        </div>
        <div class="form-group col">
            <label>Repeat password</label>
            <input type="password" class="form-control form-control-sm" name="RepeatPassword" id="repeatPassword" placeholder="Repeat password">
        </div>
        <div class="form-group col">
            <button class="btn btn-block btn-primary" type="submit" id="submit">Sign Up</button>
        </div>
    </div>
    <div class ="w-50 center" id="submit-result"></div>
</div>

<script src="~/Scripts/jquery-3.0.0.js"></script>
<script>
    function signup() {
        let login = $('#login').val();
        let password = $('#password').val();
        let repeatPassword = $('#repeatPassword').val();

        // validate login
        if (!login.match(/^\w+$/)) {
            $('#submit-result').html(
                '<div class="alert alert-danger">Enter correct login.</div>'
            );
            return;
        }

        // validate password
        if (!password.match(/^\w+$/)) {
            $('#submit-result').html(
                '<div class="alert alert-danger">Enter correct password.</div>'
            );
            return;
        }

        // validate password match
        if (password != repeatPassword) {
            $('#submit-result').html(
                '<div class="alert alert-danger">Passwords don\'t match. Try again.</div>'
            );
            return;
        }

        // create request body
        let fd = new FormData();
        fd.append('type', 'registerAdmin');
        fd.append('login', login);
        fd.append('password', password);

        // send request
        $.ajax({
            url: '/Pages/Auth/SignUp/SignUpRequests.cshtml',
            type: 'POST',
            data: fd,
            processData: false,
            contentType: false,
            success: (data) => {
                let result = JSON.parse(data);
                if (result.Result == 'Error') {
                    $('#submit-result').html(
                        '<div class="alert alert-danger">' + result.Message + '</div>');
                } else {
                    $('#submit-result').html(
                        '<div class="alert alert-info">' + result.Message + '</div>');
                }
            },
            error: (data) => {
                location.href = "~/Pages/ErrorPage.cshtml";
            }
        });
    }

    $('#submit').click(signup);

    $("#form").keypress(function(event) {
        if(event.keyCode == 13){
            $("#submit").click();
        }
    });
</script>