@using EPAM.VacancyPortal.PL.WebPL.Models;
@using EPAM.VacancyPortal.Entities;

@{
    Page.Title = "Employer sign up";
    Layout = "~/Layouts/_MainLayout.cshtml";
}

<div class="content-container">
    <div class="center w-50 form-group" id="form">
        <div class="form-group col">
            <input type="text" class="form-control" name="FirstName" id="firstName" placeholder="First Name" required>
        </div>
        <div class="form-group col">
            <input type="text" class="form-control" name="LastName" id="lastName" placeholder="Last Name" required>
        </div>
        <div class="form-group col">
            <input type="text" class="form-control" name="City" id="city" placeholder="City" required>
        </div>
        <div class="form-group col">
            <label class="form-control mt-2" for="relocation"><input type="checkbox" class="mr-2" id="relocation" name="Relocation" />Relocation</label>
        </div>
        <div class="form-group col">
            <input type="file" class="form-control-file" name="image" id="image" accept=".jpg">
        </div>
        <div class="form-group col">
            <input type="text" class="form-control" name="Login" id="login" placeholder="Login">
        </div>
        <div class="form-group col">
            <input type="password" class="form-control" name="Password" id="password" placeholder="Password">
        </div>
        <div class="form-group col">
            <input type="password" class="form-control" name="RepeatPassword" id="repeatPassword" placeholder="Repeat password">
        </div>
        <div class="form-group col">
            <button class="btn btn-block btn-primary" type="submit" id="submit">Sign Up</button>
        </div>
    </div>
    <div class="w-50 center" id="submit-result"></div>
</div>

<script src="~/Scripts/jquery-3.0.0.js"></script>
<script>
    function signup() {
        let firstName = $("#firstName").val();
        let lastName = $("#lastName").val();
        let city = $("#city").val();
        let relocation = $("#relocation").prop('checked');
        let login = $('#login').val();
        let image = $('#image')[0].files[0];
        let password = $('#password').val();
        let repeatPassword = $('#repeatPassword').val();

        //validate name
        if (!firstName.match(/^\w[\w ]*?\w$/)) {
            $('#submit-result').html(
                '<div class="alert alert-danger">Enter correct first name.</div>'
            );
            return;
        }

        if (!lastName.match(/^\w[\w ]*?\w$/)) {
            $('#submit-result').html(
                '<div class="alert alert-danger">Enter correct last name.</div>'
            );
            return;
        }

        //validate city
        if (!city.match(/^\w[\w -]+\w$/)) {
            $('#submit-result').html(
                '<div class="alert alert-danger">Enter correct city.</div>'
            );
            return;
        }

        // validate login
        if (!login.match(/^\w+$/)) {
            $('#submit-result').html(
                '<div class="alert alert-danger">Enter correct login.</div>'
            );
            return;
        }

        // validate password
        if (!password.match(/^\w+$/)) {
            $('#submit-result').html(
                '<div class="alert alert-danger">Enter correct password.</div>'
            );
            return;
        }

        // validate password match
        if (password != repeatPassword) {
            $('#submit-result').html(
                '<div class="alert alert-danger">Passwords don\'t match. Try again.</div>'
            );
            return;
        }

        // create request body
        let fd = new FormData();
        fd.append('type', 'registerEmployee');
        fd.append('firstName', firstName);
        fd.append('lastName', lastName);
        fd.append('relocation', relocation);
        fd.append('city', city);
        fd.append('image', image);
        fd.append('login', login);
        fd.append('password', password);

        // send request
        $.ajax({
            url: '/Pages/Auth/SignUp/SignUpRequests.cshtml',
            type: 'POST',
            data: fd,
            processData: false,
            contentType: false,
            success: (data) => {
                let result = JSON.parse(data);
                if (result.Result == 'Error') {
                    $('#submit-result').html(
                        '<div class="alert alert-danger">' + result.Message + '</div>');
                } else {
                    $.post('/Pages/Auth/SignIn/SignInRequests.cshtml', { type: 'setAuth', 'login': login });
                    $('#submit-result').html(
                        '<div class="alert alert-info">' + result.Message + '</div>');
                    setTimeout(() => location.href = "/Index.cshtml", 1000);
                }
            },
            error: (data) => {
                location.href = "~/Pages/ErrorPage.cshtml";
            }
        });
    }

    $('#submit').click(signup);

    $("#form").keypress(function(event) {
        if(event.keyCode == 13){
            $("#submit").click();
        }
    });
</script>