@using EPAM.VacancyPortal.PL.WebPL.Models;
@using EPAM.VacancyPortal.Entities;

@{
    Page.Title = "Employer sign up";
    Layout = "~/Layouts/_MainLayout.cshtml";
}

<div class="content-container">
    <div class="center w-50 form-group" id="form">
        <div class="form-group col">
            <input type="text" class="form-control" name="Name" id="name" placeholder="Company name" required>
        </div>
        <div class="form-group col">
            <input type="text" class="form-control" name="City" id="city" placeholder="City" required>
        </div>
        <div class="form-group col">
            <input type="file" class="form-control-file" name="image" id="image" accept=".jpg">
        </div>
        <div class="form-group col">
            <input type="text" class="form-control" name="Login" id="login" placeholder="Login">
        </div>
        <div class="form-group col">
            <input type="password" class="form-control" name="Password" id="password" placeholder="Password">
        </div>
        <div class="form-group col">
            <input type="password" class="form-control" name="RepeatPassword" id="repeatPassword" placeholder="Repeat password">
        </div>
        <div class="form-group col">
            <button class="btn btn-block btn-primary" type="submit" id="submit">Sign Up</button>
        </div>
    </div>
    <div class="w-50 center" id="submit-result"></div>
</div>

<script src="~/Scripts/jquery-3.0.0.js"></script>
<script>
    function signup() {
        let name = $("#name").val();
        let city = $("#city").val();
        let login = $('#login').val();
        let image = $('#image')[0].files[0];
        let password = $('#password').val();
        let repeatPassword = $('#repeatPassword').val();

        //validate name
        if (!name.match(/^\w[\w ]*?\w$/)) {
            $('#submit-result').html(
                '<div class="alert alert-danger">Enter correct company name.</div>'
            );
            return;
        }

        //validate city
        if (!city.match(/^\w[\w -]+\w$/)) {
            $('#submit-result').html(
                '<div class="alert alert-danger">Enter correct city.</div>'
            );
            return;
        }

        // validate login
        if (!login.match(/^\w+$/)) {
            $('#submit-result').html(
                '<div class="alert alert-danger">Enter correct login.</div>'
            );
            return;
        }

        // validate password
        if (!password.match(/^\w+$/)) {
            $('#submit-result').html(
                '<div class="alert alert-danger">Enter correct password.</div>'
            );
            return;
        }

        // validate password match
        if (password != repeatPassword) {
            $('#submit-result').html(
                '<div class="alert alert-danger">Passwords don\'t match. Try again.</div>'
            );
            return;
        }

        // create request body
        let fd = new FormData();
        fd.append('type', 'registerEmployer');
        fd.append('name', name);
        fd.append('city', city);
        fd.append('image', image);
        fd.append('login', login);
        fd.append('password', password);

        // send request
        $.ajax({
            url: '/Pages/Auth/SignUp/SignUpRequests.cshtml',
            type: 'POST',
            data: fd,
            processData: false,
            contentType: false,
            success: (data) => {
                let result = JSON.parse(data);
                if (result.Result == 'Error') {
                    $('#submit-result').html(
                        '<div class="alert alert-danger">' + result.Message + '</div>');
                } else {
                    $.post('/Pages/Auth/SignIn/SignInRequests.cshtml', { type: 'setAuth', 'login': login });
                    $('#submit-result').html(
                        '<div class="alert alert-info">' + result.Message + '</div>');
                }
            },
            error: (data) => {
                location.href = "~/Pages/ErrorPage.cshtml";
            }
        });
    }

    $('#submit').click(signup);

    $("#form").keypress(function(event) {
        if(event.keyCode == 13){
            $("#submit").click();
        }
    });
</script>

@*<div class="content-container">
        <div class="center">
            <form action="#" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col">
                        <input type="text" class="form-control" name="Name" placeholder="Company name" required>
                    </div>
                    <div class="form-group col">
                        <input type="text" class="form-control" name="City" placeholder="City" required>
                    </div>
                    <div class="form-group col">
                        <input type="text" class="form-control" name="Login" placeholder="Login" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <input type="password" class="form-control" name="Password" placeholder="Password" required>
                    </div>
                    <div class="form-group col">
                        <input type="password" class="form-control" name="RepeatPassword" placeholder="Repeat password" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <input type="file" class="form-control" name="image" id="image" accept=".jpg">
                    </div>
                    <div class="form-group col">
                        <button class="btn btn-block btn-primary" type="submit">Sign up</button>
                    </div>
                </div>
            </form>

            @if (IsPost)
            {
                string name = Request.Form["Name"];
                string city = Request.Form["City"];
                string login = Request.Form["Login"];
                string password = Request.Form["Password"];
                string repeatPassword = Request.Form["RepeatPassword"];

                if (password != repeatPassword)
                {
                    <div class="alert alert-danger text-center">
                        Passwords don't match
                    </div>
                    return;
                }

                HttpPostedFileBase file = Request.Files.Count != 0 ? Request.Files[0] : null;
                byte[] bytes = null;

                if (file != null && file.ContentLength != 0)
                {
                    bytes = new byte[file.ContentLength];
                    file.InputStream.Read(bytes,0,bytes.Length);
                }
                else
                {
                    bytes = new byte[] { };
                }

                int id = EmployerService.Register(new Employer
                {
                    Name = name,
                    Login = login,
                    Password = password,
                    City = city,
                    Logo = Convert.ToBase64String(bytes),
                    Role = "EMPLOYER"
                });

                if (id != 0)
                {
                    FormsAuthentication.SetAuthCookie(login,true);
                    Response.Redirect("~/Index.cshtml");
                }
                else
                {
                    <div class="alert alert-info">
                        You cannot register with such login.
                    </div>
                }
            }
        </div>
    </div>*@