@{
    Page.Title = "Forbidden";
    Layout = "~/Layouts/_MainLayout.cshtml";
}

<div class="jumbotron" id="jumbo">
    <h1 class="display-4">ITJob</h1>
    <p class="lead">
        You don't have right to visit this page.
    </p>
    <hr class="my-2">
    <p>Press ITJob logo to go home page.</p>
</div>