@if (!User.IsInRole("ADMIN"))
{
    Response.Redirect("~/Pages/Forbidden.cshtml");
    return;
}

@{
    Page.Title = "Admin verification";
    Layout = "~/Layouts/_MainLayout.cshtml";
}

<div class="content-container">
    <div id="admins-list">
        @RenderPage("~/Pages/Partial/Admin/Admins.cshtml")
    </div>
</div>

<script>
    function deleteAdmin(id) {
    $.post("/Pages/RequestHandlers/AdminRequests.cshtml", { type: 'deleteAdmin', id: id },
        function () {
            $("#admins-list").empty();
            $("#admins-list").load("/Pages/Partial/Admin/Admins.cshtml");
        });
}
</script>