<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage Admins
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="~/Pages/Admin/Verification.cshtml">Verify</a>
        <a class="dropdown-item" href="~/Pages/Admin/Deletion.cshtml">Delete</a>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" href="~/Pages/Admin/ManageEmployees.cshtml" role="button" aria-haspopup="true" aria-expanded="false">
        Manage Employees
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="~/Pages/Admin/ManageEmployers.cshtml" role="button" aria-haspopup="true" aria-expanded="false">
        Manage Employers
    </a>
</li>