<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        My Skills
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="~/Pages/Employee/AddSkill.cshtml">Add skill</a>
        <a class="dropdown-item" href="~/Pages/Employee/Skills.cshtml">Show all skills</a>
    </div>
</li>

<li class="nav-item dropdown">
    <a class="nav-link " href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Responses
    </a>
</li>

<li class="nav-item">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Vacancy search
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="~/Pages/Employee/Vacancies.cshtml">All vacancies</a>
        <a class="dropdown-item" href="~/Pages/Employee/VacanciesSkills.cshtml">Vacancies by my skills</a>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" href="~/Pages/Employee/MyProfile.cshtml" role="button" aria-haspopup="true" aria-expanded="false">
        My profile
    </a>
</li>