

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        My Vacancies
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="~/Pages/Employer/AddVacancy.cshtml">Add Vacancy</a>
        <a class="dropdown-item" href="~/Pages/Employer/Vacancies.cshtml">Show all vacancies</a>
    </div>
</li>

<li class="nav-item dropdown">
    <a class="nav-link " href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Responses
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Employee search
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="~/Pages/Employer/MyProfile.cshtml" role="button" aria-haspopup="true" aria-expanded="false">
        My profile
    </a>
</li>

