    
    <li class="nav-item dropdown">
        <a class="nav-link" href="~/Pages/Auth/SignIn/SignIn.cshtml" role="button" aria-haspopup="true" aria-expanded="false">
            Sign in
        </a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sing up
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="~/Pages/Auth/SignUp/Admin.cshtml">As administrator</a>
            <a class="dropdown-item" href="~/Pages/Auth/SignUp/Employer.cshtml">As employer</a>
            <a class="dropdown-item" href="~/Pages/Auth/SignUp/Employee.cshtml">As employee</a>
        </div>
    </li>